body {
    font-family: Arial, sans-serif;
    background-color: #f2fff2;
    text-align: center;
}

h1 {
    color: green;
}
.plant-card {
    background: white;
    width: 250px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
}