body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f7f0;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 { color: #2d5a27; }

#search {
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    outline: none;
}

/* Flexbox for the grid layout */
.plants-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.plant-card {
    background: white;
    width: 250px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s; /* Hover effect */
    cursor:pointer;
      position: relative;
    overflow: hidden;
    background: #fff;
    transition: 0.3s ease;
}

.plant-card:hover {
    transform: translateY(-5px); /* Card thoda upar uthega */
     box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

/* Animated border line */
.plant-card::before{
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(
        90deg,
        transparent,
        #90ee90,
        transparent
    );

    background-size: 300% 300%;
    opacity: 0;
    transition: opacity 0.3s ease;

    /* border effect */
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

/* Animation on hover */
.plant-card:hover::before{
    opacity: 1;
    animation: borderMove 2s linear infinite;
}

@keyframes borderMove{
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 300% 50%;
    }
}

.plant-card img {
    width: 100%;
    border-radius: 10px;
    height: 180px;
    object-fit: cover;
}

.category {
    color: #666;
    font-style: italic;
    font-size: 0.9em;
}

.info {
    font-weight: bold;
    color: #2d5a27;
    margin-top: 10px;
}
.live-datetime {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 12px 0;
}

#currentDate {
  display: block;
  color: #2e7d32;
}

#currentTime {
  display: block;
  color: #1565c0;
  letter-spacing: 1px;
}
